
/* Navbar */
.navbar {
    background-color: #000;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Hide by default for larger screens */
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1100; /* Higher z-index to ensure it's on top */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000; /* Ensure it's below the button */
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li.large-gap {
    padding: 20px;
    margin: 0 50px;
    font-family: monospace;
    font-size: 2rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Desktop Specific Styles */
@media (min-width: 769px) {
    .nav-links {
        align-items: center;
        gap: 100px; /* Space out links on desktop */
    }

    .nav-links li {
        margin: 0; /* Remove margin for desktop */
    }
}

/* Mobile View */
@media (max-width: 946px) {
    .menu-toggle {
        display: block; /* Show button on mobile */
        width: 40px; /* Size adjustment */
        height: 40px; /* Size adjustment */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-100%); /* Start off-screen */
        opacity: 0; /* Start invisible */
        z-index: 1000;
    }

    .nav-links.active {
        transform: translateY(0); /* Slide into view */
        opacity: 1; /* Fade in */
    }

    .nav-links li {
        margin: 10px 0;
    }
}