/* Navbar */
.navbar {
    background-color: #000;
    /* color: black; */
    /*set text color to white and select background to another color*/
    padding: 20px 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .logo {
    color: #fff;
    text-decoration: none;
    font-size: 40px; /* Increase font size */
    padding-left: 90px; /*padding to left*/
    font-weight: bold; 
}
.menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Hide by default for larger screens */
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1100; /* Higher z-index to ensure it's on top */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000; /* Ensure it's below the button */
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li.large-gap {
    padding: 20px;
    margin: 0 50px;
    font-family: monospace;
    font-size: 2rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Hide LinkedIn button on desktop */
.linkedin-button {
    display: none; /* Hide by default */
}

/* Desktop Specific Styles */
@media (min-width: 769px) {
    .nav-links {
        align-items: center;
        gap: 0px; /* Space out links on desktop */
    }

    .nav-links li {
        margin: 0; /* Remove margin for desktop */
    }

    .linkedin-button {
        display: none; /* Ensure LinkedIn button is hidden on desktop */
    }
}

/* Mobile View */
@media (max-width: 946px) {
    .menu-toggle {
        display: block; /* Show button on mobile */
        width: 40px; /* Size adjustment */
        height: 40px; /* Size adjustment */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 60px; /* Adjust based on your design */
        right: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-100%); /* Start off-screen */
        opacity: 0; /* Start invisible */
        z-index: 1000;
        padding: 0; /* Remove padding to prevent gaps */
        box-sizing: border-box; /* Include padding and border in the element’s total width and height */
    }

    .nav-links.active {
        transform: translateY(0); /* Slide into view */
        opacity: 1; /* Fade in */
    }

    .nav-links li {
        margin: 10px 0; /* Adjust margin for mobile view */
    }

    .linkedin-button {
        display: block; /* Show LinkedIn button on mobile */
        background-color: #ff5733; /* Adjust color as needed */
        border-radius: 30px;
        padding: 10px 20px;
        text-align: center;
        margin-top: 10px; /* Space it out from other items */
    }
}